/* 메인화면 */

position: relative;
width: 1920px;
height: 1080px;

background: #FFFFFF;


/* Rectangle 2 */

position: absolute;
width: 216px;
height: 107px;
left: calc(50% - 216px/2 - 2px);
top: 344px;

background: #D9D9D9;
opacity: 0.3;


/* Group 1 */

position: absolute;
width: 1920px;
height: 82.81px;
left: 0px;
top: 0px;



/* Rectangle 1 */

box-sizing: border-box;

position: absolute;
height: 80px;
left: 0px;
right: 0px;
top: 0px;

background: #D9D9D9;
border: 1px solid #000000;


/* 로고 */

position: absolute;
width: 79.71px;
height: 45.57px;
left: 1172.72px;
top: 18.23px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 로고 */

position: absolute;
width: 79.71px;
height: 45.57px;
left: 1073.09px;
top: 18.23px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 로고 */

position: absolute;
width: 79.71px;
height: 45.57px;
left: 1271.36px;
top: 18.23px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 로고 */

position: absolute;
width: 79.71px;
height: 45.57px;
left: 1372px;
top: 18.23px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 로고 */

position: absolute;
width: 79.71px;
height: 64.81px;
left: 370px;
top: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 로고 */

position: absolute;
width: 79.71px;
height: 45.57px;
left: 973.45px;
top: 19.24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 당신의 창업, ABCD와 함께 더욱 스마트하게 */

position: absolute;
width: 384px;
height: 72px;
left: calc(50% - 384px/2 - 4px);
top: 219px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #000000;



/* 지금 시작 */

position: absolute;
width: 138px;
height: 72px;
left: 889px;
bottom: 647px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #000000;



/* Ellipse 1 */

position: absolute;
width: 220px;
height: 220px;
left: 450px;
top: 512px;

background: #D9D9D9;


/* Ellipse 2 */

position: absolute;
width: 220px;
height: 220px;
left: calc(50% - 220px/2 - 4px);
top: 512px;

background: #D9D9D9;


/* Ellipse 3 */

position: absolute;
width: 220px;
height: 220px;
right: 458px;
top: 512px;

background: #D9D9D9;


/* 기능 1 */

position: absolute;
width: 142px;
height: 74px;
left: 489px;
top: 732px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #000000;



/* 기능 2 */

position: absolute;
width: 142px;
height: 74px;
left: 885px;
top: 732px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #000000;



/* 기능 3 */

position: absolute;
width: 142px;
height: 74px;
left: 1281px;
top: 732px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #000000;



/* 배경, 기대효과 등을 서술해주세요 */

position: absolute;
height: 36px;
left: 753px;
right: 753px;
top: 932px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

color: #000000;



/* Rectangle 28 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 45px;
left: 970px;
top: 79px;

background: #D9D9D9;
border: 1px solid #000000;


/* Rectangle 29 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 45px;
left: 1070px;
top: 79px;

background: #D9D9D9;
border: 1px solid #000000;


/* Rectangle 30 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 45px;
left: 1170px;
top: 79px;

background: #D9D9D9;
border: 1px solid #000000;


/* Rectangle 31 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 45px;
left: 1170px;
top: 124px;

background: #D9D9D9;
border: 1px solid #000000;


/* Rectangle 38 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 45px;
left: 1070px;
top: 122px;

background: #D9D9D9;
border: 1px solid #000000;


/* Rectangle 39 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 45px;
left: 970px;
top: 122px;

background: #D9D9D9;
border: 1px solid #000000;


/* Rectangle 40 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 45px;
left: 970px;
top: 167px;

background: #D9D9D9;
border: 1px solid #000000;


/* Rectangle 32 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 45px;
left: 1271px;
top: 79px;

background: #D9D9D9;
border: 1px solid #000000;


/* Rectangle 35 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 45px;
left: 1370px;
top: 79px;

background: #D9D9D9;
border: 1px solid #000000;


/* Rectangle 36 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 45px;
left: 1370px;
top: 124px;

background: #D9D9D9;
border: 1px solid #000000;


/* Rectangle 33 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 45px;
left: 1271px;
top: 124px;

background: #D9D9D9;
border: 1px solid #000000;


/* Rectangle 34 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 45px;
left: 1271px;
top: 169px;

background: #D9D9D9;
border: 1px solid #000000;


/* Rectangle 41 */

box-sizing: border-box;

position: absolute;
width: 80px;
height: 45px;
left: 1271px;
top: 214px;

background: #D9D9D9;
border: 1px solid #000000;


/* 공지사항 */

position: absolute;
width: 80px;
height: 45px;
left: 970px;
top: 79px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 지역 분석 */

position: absolute;
width: 80px;
height: 45px;
left: 1070px;
top: 79px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 시뮬레이션 */

position: absolute;
width: 80px;
height: 45px;
left: 1170px;
top: 79px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 시뮬레이션 리포트 */

position: absolute;
width: 80px;
height: 45px;
left: 1169px;
top: 124px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 창업 정보 */

position: absolute;
width: 80px;
height: 45px;
left: 1271px;
top: 79px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 내 정보 */

position: absolute;
width: 80px;
height: 45px;
left: 1370px;
top: 79px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 내가 쓴 글 */

position: absolute;
width: 80px;
height: 45px;
left: 1370px;
top: 124px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 창업 질문 */

position: absolute;
width: 80px;
height: 45px;
left: 1271px;
top: 124px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 창업 후기 */

position: absolute;
width: 80px;
height: 45px;
left: 1271px;
top: 169px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 자유게시판 */

position: absolute;
width: 80px;
height: 45px;
left: 1271px;
top: 214px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 업종 분석 */

position: absolute;
width: 80px;
height: 45px;
left: 1070px;
top: 122px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* FAQ */

position: absolute;
width: 80px;
height: 45px;
left: 970px;
top: 125px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 개선의견 */

position: absolute;
width: 80px;
height: 45px;
left: 970px;
top: 167px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;



/* 로고 */

position: absolute;
width: 79.71px;
height: 45.57px;
left: 1462px;
top: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

